
<!-- Style to set the size of checkbox -->
<style>
    input.larger-checkbox {
        width: 40px;
        height: 40px;
    }
</style>



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject bold uppercase font-dark">Data Invoice</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group-devided" data-toggle="buttons">
                                    <button style="margin-right: 10px;" id="btn-add-invoice" class="btn bg-red-thunderbird bg-font-red-thunderbird">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                    <button style="margin-right: 10px;" id="btn-add-ethnic-modal" class="btn bg-red-thunderbird bg-font-red-thunderbird">
                                        <i class="fa fa-report"></i> Report
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="table_invoice">
                                <thead>
                                    <tr class="bg-red-thunderbird bg-font-red-thunderbird">
                                        <th> Action </th>
                                        <th> Invoice No </th>
                                        <th> Customer Name </th>
                                        <th> Invoice Date </th>
                                        <th> Due Date </th>
                                        <th> Currency </th>
                                        <th> Invoice Ammound (IDR) </th>
                                        <th> Open Ammound </th>
                                        <th> Remark </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

<div id="modal-invoice" class="modal fade" data-width="760" data-backdrop="static" tabindex="-1">
    <div class="modal-header bg-red-thunderbird bg-font-red-thunderbird">
        <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">DATA INVOICE</h4>
    </div>
    <form action="#" id="form_invoice" class="form-horizontal">
        <input type="hidden" id="txtDueDate" />
        <div class="form-body">
            <div class="modal-body">
                <input type="hidden" id="txtEthnicId" class="form-control" />
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Nama Customer</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <select id="txtCustomerName" name="customer-name" class="select2me form-control show-tick">
                                <option value="">Customer ID - Customer Name</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice No</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtInvoiceNo" placeholder="Invoice No" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice Date</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtInvoiceDate" placeholder="Invoice Date" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Currency</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <select id="txtCurrency" name="customer-name" class="select2me form-control show-tick">
                                <option value="">Customer ID - Customer Name</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Rate</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtRate" placeholder="Rate" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice Ammount</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtInvoiceAmmount" placeholder="Invoice Ammount" maxlength="100" name="ethnic" class="form-control number-only" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Remark</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtRemark" placeholder="Remark" maxlength="255" name="ethnic" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn cancel btn-outline dark">Batal</button>
                <button type="button" class="btn red-thunderbird" id="btn-submit-invoice">Submit</button>
            </div>
        </div>
    </form>
</div>


<div id="modal-detail-invoice" class="modal fade" data-width="760" data-backdrop="static" tabindex="-1">
    <div class="modal-header bg-red-thunderbird bg-font-red-thunderbird">
        <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">DATA DETAIL INVOICE</h4>
    </div>
    <form action="#" id="form_invoice" class="form-horizontal">
        <div class="form-body">
            <div class="modal-body">
                <input type="hidden" id="txtEthnicId" class="form-control" />
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice No</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailInvoiceNo" placeholder="Invoice No" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice No</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailCustomerName" placeholder="Invoice No" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice Date</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailInvoiceDate" placeholder="Invoice Date" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Aging Days</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailAgingDays" placeholder="Aging Days" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Due Date</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailDueDate" placeholder="Due Date" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Aging Due</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailAgingDue" placeholder="Aging Due" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Invoice Ammount</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailInvoiceAmmount" placeholder="Invoice Ammount" maxlength="100" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: -5px;">
                    <div class="form-group">
                        <label class="control-label col-md-3">Open Ammount</label>
                        <div class="col-md-9" style="padding-right: 40px; !important;">
                            <input type="text" id="txtDetailOpenAmmount" placeholder="Open Ammount" maxlength="255" name="ethnic" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="portlet-body">
                    <table class="table table-striped table-hover table-bordered" id="table_collection">
                        <thead>
                            <tr class="bg-red-thunderbird bg-font-red-thunderbird">
                                <th style="display:none;"> id </th>
                                <th> Action </th>
                                <th> Collection Date </th>
                                <th> Currency </th>
                                <th> Rate </th>
                                <th> Collection Ammount </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/assets/pages/scripts/form-validation-master.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {

        /* INIT TABLE INVOICE */
        function initData(customerName, invoiceNo) {

            var tableDocument =$('#table_invoice').DataTable({
                "bJQueryUI": true,
                "destroy": true,
                "bProcessing": true,
                "deferRender": true,
                "bFilter": true,
                "bInfo": true,
                "paging": true,
                "autoWidth": false,
                "ordering": false,
                "sAjaxSource": '/home/getlistinvoice?customerName=' + customerName + '&invoiceNo=' + invoiceNo,
                "sAjaxDataProp": "",
                "aoColumns": [
                    {
                        "mData": function (data, row) {
                            return '<a class="btn btn-default view-invoice" href="javascript:;"> View Invoice</a>' +
                                '<a class="btn btn-default edit-status-ethnic" href="javascript:;"> Input Collection</a>' +
                                '<a class="btn btn-default set-inactive" href="javascript:;"> Cancel Invoice</a>';
                            

                        }
                    },
                    { "mDataProp": "invoiceNo"},
                    { "mDataProp": "customerName" },
                    { "mDataProp": "invoiceDate" },
                    { "mDataProp": "dueDate" },
                    { "mDataProp": "currency" },
                    {
                        "mData": function (data, row) {
                            if (data.invoiceAmmountIdr == null) {
                                return 0.00
                            }
                            else {
                                return number_format(data.invoiceAmmountIdr, 2);
                            }


                        }
                    },
                    {
                        "mData": function (data, row) {
                            if (data.openAmmountIdr == null) {
                                return 0.00
                            }
                            else {
                                return number_format(data.openAmmountIdr, 2);
                            }


                        }
                    },
                    { "mDataProp": "remark" }
                ]
            });

        };

        /* INIT TABLE CUSTOMER */
        function initCollection(no) {

            var tableDocument = $('#table_collection').DataTable({
                "bJQueryUI": true,
                "destroy": true,
                "bProcessing": true,
                "deferRender": true,
                "bFilter": false,
                "bInfo": false,
                "paging": false,
                "autoWidth": false,
                "ordering": false,
                "sAjaxSource": '/home/getlistcollection?id=' + no,
                "sAjaxDataProp": "",
                "aoColumns": [
                    { "mDataProp": "collectionId", "visible": false, "searchable": true, "targets": [0] },
                    {
                        "mData": function (data, row) {
                            return '<a class="fa fa-times delete-collection" href="javascript:;"> </a>';
                        }
                    },
                    { "mDataProp": "collectionDate" },
                    { "mDataProp": "currency" },
                    { "mDataProp": "rate" },
                    {
                        "mData": function (data, row) {
                            if (data.collectionAmmountIdr == null) {
                                return 0.00
                            }
                            else {
                                return number_format(data.collectionAmmountIdr, 2);
                            }


                        }
                    },
                ]
            });

        };

        initData("", "");

        /* BTN MODAL INVOICE */
        $(document).on('click', '#btn-add-invoice', function (e) {

            $('#form_invoice')[0].reset();
            GetListCustomer();
            GetListCurrency();
            
        });

        /* BTN MODAL INVOICE */
        $(document).on('click', '.view-invoice', function (e) {
            var oTable = $('#table_invoice').dataTable();
            var id = oTable.fnGetData($(this).parent().parent(), 1);
            GetDetailInvoice(id);
            initCollection(id);
        });

        /* BTN MODAL INVOICE */
        $(document).on('click', '.set-inactive', function (e) {
            var oTable = $('#table_invoice').dataTable();
            var id = oTable.fnGetData($(this).parent().parent(), 1);
            ConfirmSetInactiveInvoice(id);
        });

        /* BTN MODAL INVOICE */
        $(document).on('click', '.delete-collection', function (e) {
            var oTable = $('#table_collection').dataTable();
            var id = oTable.fnGetData($(this).parent().parent(), 0);
            DeleteCollection(id);
        });

        /* SET INACTIVE INVOICE */
        $(document).on('click', '.delete-collection', function (e) {
            var oTable = $('#table_collection').dataTable();
            var id = oTable.fnGetData($(this).parent().parent(), 0);
            DeleteCollection(id);
        });

        // GET CUSTOMER NAME
        function GetListCustomer() {
            $.ajax({
                type: "GET",
                url: "/home/getlistcustomer",
                success: function (result) {
                    $('#txtCustomerName').html('<option value="">Customer ID - Customer Name </option>');
                    $.each(result, function (i) {
                        $('#txtCustomerName').append('<option value=' + this.customerId + '>' + this.customerId + ' - ' + this.customerName + '</option>');
                        if (i == (result.length - 1)) {
                            $('#modal-invoice').modal('show');
                        }
                    });
                },
                error: function (e) {
                    swal("Error!", "", "error");
                }
            });
        }

        // GET CUSTOMER NAME
        function GetListCurrency() {
            $.ajax({
                type: "GET",
                url: "/home/getlistcurrency",
                success: function (result) {
                    $('#txtCurrency').html('<option value="">Currency </option>');
                    $.each(result, function (i) {
                        $('#txtCurrency').append('<option value=' + this + '>' + this + '</option>');
                        if (i == (result.length - 1)) {
                            $('#txtCurrency').append('<option value=IDR> IDR </option>');
                        }
                    });
                },
                error: function (e) {
                    swal("Error!", "", "error");
                }
            });
        }

        // SET INVOICE INFO
        function SetInvoiceInfo(id) {
            $.ajax({
                type: "GET",
                url: "/home/setinvoiceinfo?id=" + id,
                success: function (result) {
                    $('#txtInvoiceNo').val(result.invoiceNo);
                    $('#txtInvoiceDate').val(result.invoiceDate);
                    $('#txtDueDate').val(result.dueDate);
                },
                error: function (e) {
                    swal("Error!", "", "error");
                }
            });
        }

        function GetDetailInvoice(id) {
            $.ajax({
                type: "GET",
                url: "/home/getdetailinvoice?id=" + id,
                success: function (result) {
                    $('#txtDetailInvoiceNo').val(result.invoiceNo);
                    $('#txtDetailCustomerName').val(result.customerName);
                    $('#txtDetailInvoiceDate').val(result.invoiceDate);
                    $('#txtDetailDueDate').val(result.dueDate);
                    $('#txtDetailInvoiceAmmount').val(number_format(result.invoiceAmmountIdr, 2));
                    $('#txtDetailOpenAmmount').val(number_format(result.openAmmountIdr, 2));

                    var a = result.invoiceDate;
                    var b = result.dueDate;
                    var timeDiff = 0
                    if (b) {
                        timeDiff = (b - a) / 1000;
                    }

                    $('#txtDetailAgingDays').val(Math.floor(timeDiff / (86400)) + ' Hari');
                    $('#modal-detail-invoice').modal('show');
                },
                error: function (e) {
                    swal("Error!", "", "error");
                }
            });
        }

        // GET CURRENCY RATE
        function GetCurrencyRate(id) {
            $.ajax({
                type: "GET",
                url: "/home/getcurrencyrate?id=" + id,
                success: function (result) {
                    $('#txtRate').val(formatCurrency(result));
                },
                error: function (e) {
                    swal("Error!", "", "error");
                }
            });
        }

        /* SELECT CUSTOMER TO GET INVOICE INFO */
        $(document).on('change', '#txtCustomerName', function (e) {
            SetInvoiceInfo($(this).val());
        });

        /* SELECT CURRENCY */
        $(document).on('change', '#txtCurrency', function (e) {
            if ($(this).val() == 'IDR') {
                $('#txtRate').val(1);
            }
            else {
                GetCurrencyRate($(this).val());
            }
        });

        /* SUBMIT INVOICE */
        function SubmitInvoice() {
            var invoiceAmmountIdr;
            var invoiceAmmountForeign;
           
            var invoiceDto = new FormData();
            invoiceDto.append('invoiceNo', $('#txtInvoiceNo').val());
            invoiceDto.append('customerId', $('#txtCustomerName').val());
            invoiceDto.append('invoiceDate', $('#txtInvoiceDate').val());
            invoiceDto.append('dueDate', $('#txtDueDate').val());
            invoiceDto.append('currency', $('#txtCurrency').val());
            invoiceDto.append('rate', $('#txtRate').val());
            var ammount = $('#txtInvoiceAmmount').val();

            if ($('#txtCurrency').val() == 'USD') {
                invoiceAmmountIdr = ammount * parseInt($('#txtRate').val().replace(',', ''));
                invoiceDto.append('invoiceAmmountIDR', ammount);
                invoiceDto.append('openAmmountIDR', ammount);
                invoiceDto.append('invoiceAmmountForeign', ammount);
                invoiceDto.append('openAmmountForeign', ammount);
                invoiceDto.append('remark', $('#txtRemark').val());
                invoiceDto.append('isActive', 1);
                alert(formatCurrency(parseFloat(invoiceAmmountIdr).toFixed(2)));
            }
            else
            {
                invoiceDto.append('invoiceAmmountIDR', $('#txtInvoiceAmmount').val());
                invoiceDto.append('openAmmountIDR', $('#txtInvoiceAmmount').val());
                invoiceDto.append('invoiceAmmountForeign', '0.00');
                invoiceDto.append('openAmmountForeign', '0.00');
                invoiceDto.append('remark', $('#txtRemark').val());
                invoiceDto.append('isActive', 1);
            }

            $.ajax({
                type: "POST",
                url: "/home/submitinvoice",
                data: invoiceDto,
                contentType: false,
                processData: false,
                success: function (result) {
                    App.unblockUI();
                    if (result == true) {
                        swal({
                            title: "Berhasil Disimpan",
                            text: "Data Berhasil disimpan",
                            type: "success"
                        }, function () {
                            initData('', '');
                            $('#modal-invoice').modal('hide');
                        });
                    }
                    else {
                        swal({
                            title: "Gagal Disimpan",
                            text: "Data Gagal disimpan",
                            type: "error"
                        }, function () {
                            initData('', '');
                        });
                    }
                },
                error: function (e) {
                    swal("Error!", "", "error");
                }
            });

        }
        
        /* BTN MODAL INVOICE */
        $(document).on('click', '#btn-submit-invoice', function (e) {
            SubmitInvoice();
        });

        $(".number-only").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $(".number-only").keyup(function (e) {
            var val = this.value;
            val = val.replace(/[^0-9\.]/g, '');

            if (val != "") {
                valArr = val.split('.');
                valArr[0] = (parseInt(valArr[0], 10)).toLocaleString();
                val = valArr.join('.');
            }

            this.value = val;
        });

        function formatCurrency(value) {
            var val = value;
            val = value.replace(/[^0-9\.]/g, '');

            if (val != "") {
                valArr = val.split('.');
                valArr[0] = (parseInt(valArr[0], 10)).toLocaleString();
                val = valArr.join('.');
            }

            return val;
        }

        function CalcDiff() {
            var a = $('#tgl1').data("DateTimePicker").date();
            var b = $('#tgl2').data("DateTimePicker").date();
            var timeDiff = 0
            if (b) {
                timeDiff = (b - a) / 1000;
            }

            $('#selisih').val(Math.floor(timeDiff / (86400)) + ' Hari')
        }

        /* DELETE COLLECTION */
        function DeleteCollection(id) {
            $.ajax({
                type: "POST",
                url: "/home/deletecollection?id=" + id,
                success: function (result) {
                    App.unblockUI();
                    if (result == true) {
                        swal({
                            title: "Berhasil!",
                            text: "Data Berhasil Dihapus",
                            type: "success"
                        }, function () {
                            GetDetailInvoice($('#txtDetailInvoiceNo').val());
                            initCollection($('#txtDetailInvoiceNo').val());
                        });
                    }
                    if (result == false) {
                        swal({
                            title: "Gagal!",
                            text: "Ada Kesalahan Penyimpanan Data",
                            type: "warning"
                        }, function () {
                            initCollection($('#txtDetailInvoiceNo').val());
                        });
                    }
                },
                error: function (e) {
                    App.unblockUI();
                    swal("Error!", "", "error");
                }
            });
        }

        /* SET INACTIVE INVOICE */
        function SetInactiveInvoice(id) {
            $.ajax({
                type: "POST",
                url: "/home/setinactiveinvoice?id=" + id,
                success: function (result) {
                    App.unblockUI();
                    if (result == true) {
                        swal({
                            title: "Berhasil!",
                            text: "Data Berhasil Dihapus",
                            type: "success"
                        }, function () {
                            initData('', '');
                        });
                    }
                    if (result == false) {
                        swal({
                            title: "Gagal!",
                            text: "Ada Kesalahan Penyimpanan Data",
                            type: "warning"
                        }, function () {
                            initData('', '');
                        });
                    }
                },
                error: function (e) {
                    App.unblockUI();
                    swal("Error!", "", "error");
                }
            });
        }

        /* CONFIRM SET INACTIVE INVOICE */
        function ConfirmSetInactiveInvoice(id) {
            swal({
                title: "Konfirmasi Data",
                text: "Apa Anda Yakin Data Ingin Diinactivekan ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ya, Simpan!",
                cancelButtonText: "Tidak, Batalkan Proses!",
                showLoaderOnConfirm: true,
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {

                    App.blockUI({
                        boxed: true
                    });

                    SetInactiveInvoice(id);

                } else {
                    App.unblockUI();
                    swal("Batal", "Data Tidak Jadi Disimpan", "error");
                }
            });
        }

    });
</script>